.venv/
venv/
env/
dist/
build/*
!build/build_windows.bat
!build/build_macos.sh
*.spec
__pycache__/
.pytest_cache/
.ruff_cache/
htmlcov/
*.pyc
coverage.xml
.coverage
.DS_Store
Thumbs.db
.vscode/
.idea/
